body {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background-image: url("../images/light-grey-terrazzo.png");
    font-weight: 300;
}

p {
    line-height: 1.8;
    word-spacing: 2px;
}

main {
    border: rgb(214, 211, 211) 1px solid;
    border-radius: 5px;
}

#my-name, h1 {
    font-size: 1.8rem;
}

h1 {
    margin-bottom: 2rem;
    width: 100%;
}

#my-name {
    font-family: Raleway, 'Times New Roman', Times, serif;
    font-weight: 600;
}

footer a, footer span {
    font-size: 0.8rem;
    padding: 0 0.3rem;
}

h5 {
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    color: black;
}

@media screen and (max-width: 760px) {
    #main-content {
        padding: 1rem !important;
    }
}

@media screen and (max-width: 767px) {
    .margin-bottom {
        margin-bottom: 2rem !important;
    }
}

.card:hover {
    transform: rotate(-3deg);
    transition-duration: 500ms;
    box-shadow: 3px 3px 10px #000;
}